section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
}

a {
  text-decoration: none;
  color: var(--primary-text-color);
}

li {
  list-style-type: none;
}

address {
  font-style: normal;
}

:root {
  --primary-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --primary-grey-color: #757575;
  --background-icon-color: #f5f4fa;
  --icon-color: #afb1b8;
}

.hide {
  opacity: 0;
  font-size: 0px;
  line-height: 0px;
  display: none;
  color: transparent;
  visibility: hidden;
  overflow: hidden;
  width: 0px;
  height: 0px;
}

.modal-form__policy-checkbox-label, .modal-form__button-block, .features-list__icon-container, .service-list__text-block, .team-social-list, .team-social-list__item-link, .footer-social-links-list, .footer-social-links-list__link, .subscribe-form__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.link:hover,
.link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.backdrop {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  -webkit-transition: visibility 700ms cubic-bezier(0.4, 0, 0.2, 1), opacity 700ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: visibility 700ms cubic-bezier(0.4, 0, 0.2, 1), opacity 700ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  -webkit-transform: rotate(180deg) scale(3);
          transform: rotate(180deg) scale(3);
  -webkit-transition: -webkit-transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 1000ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  background-color: var(--primary-white-color);
  top: 50%;
  left: 50%;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transform: translate(-50%, -50%) rotate(0deg);
          transform: translate(-50%, -50%) rotate(0deg);
  -webkit-transition: -webkit-transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 1000ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}

@media screen and (max-width: 1199px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal__close-btn {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal__close-btn:hover, .modal__close-btn:focus {
  fill: var(--accent-color);
  cursor: pointer;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-form__field {
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.01em;
  color: var(--primary-grey-color);
  margin-bottom: 10px;
}

.modal-form__wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.modal-form__header {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 10px;
}

.modal-form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color 250ms linear;
  transition: border-color 250ms linear;
  padding-left: 42px;
}

.modal-form__input:focus {
  outline: none;
  border-color: var(--accent-color);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__name-form-icon,
.modal-form__tel-form-icon,
.modal-form__email-form-icon {
  display: block;
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.modal-icon {
  fill: var(--primary-text-color);
}

.modal-form__input:focus + .modal-icon {
  fill: var(--accent-color);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment {
  margin-bottom: 20px;
}

.modal-form__message {
  width: 100%;
  height: 120px;
  margin-top: 6px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  overflow: auto;
}

.modal-form__message:focus {
  outline: none;
  border-color: var(--accent-color);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__policy-checkbox-label {
  letter-spacing: 0.03em;
  cursor: pointer;
  height: 24px;
  text-align: center;
  margin-bottom: 30px;
}

@media screen and (max-width: 1199px) {
  .modal-form__policy-checkbox-label {
    font-size: 12px;
    line-height: 1.17;
  }
}

@media screen and (min-width: 1200px) {
  .modal-form__policy-checkbox-label {
    font-size: 14px;
    line-height: 1.71;
  }
}

.modal-form__policy-checkbox-label::before {
  display: block;
  content: "";
  width: 16px;
  height: 15px;
  margin-right: 6px;
  border: 2px solid #303030;
  cursor: pointer;
  border-radius: 2px;
}

.modal-form__policy-checkbox:checked + .modal-form__policy-checkbox-label::before {
  background-image: url(../images/icon-check.svg);
  background-color: var(--accent-color);
  background-repeat: no-repeat;
  background-position: center;
  border-color: var(--accent-color);
}

.modal-form__policy-link {
  color: var(--accent-color);
  text-decoration: none;
  position: relative;
}

.modal-form__policy-link::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: var(--accent-color);
}

@media screen and (max-width: 1199px) {
  .modal-form__policy-link::after {
    bottom: 2px;
  }
}

@media screen and (min-width: 1200px) {
  .modal-form__policy-link::after {
    bottom: 4px;
  }
}

.modal-form__btn-submit {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
  padding: 10px 55px 10px 56px;
  border-radius: 4px;
  border-color: transparent;
}

.modal-form__btn-submit:hover, .modal-form__btn-submit:focus {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu {
  overflow: hidden;
  padding: 48px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--primary-white-color);
  -webkit-transition: opacity 250ms linear, visibility 250ms linear;
  transition: opacity 250ms linear, visibility 250ms linear;
}

@media screen and (min-width: 768px) {
  .mob-menu {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.nav__item-mobile:not(:last-child) {
  margin-bottom: 32px;
}

.nav__link-mobile {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--primary-text-color);
}

.nav__link-current {
  color: var(--accent-color);
}

.mobile-nav__contacts-list {
  margin-bottom: 64px;
}

.mobile-nav__contacts-list:not(:last-child) {
  margin-bottom: 32px;
}

.contacts-list__item-tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  margin-bottom: 32px;
}

.contacts-list__item-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--primary-grey-color);
}

.social__list-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.social__item-mobile:not(:first-child) {
  padding-left: 10px;
}

.social__item-mobile:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
}

.social__link-mobile {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.menu-open-btn {
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  line-height: 0;
  border: none;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-open-btn:hover, .menu-open-btn:focus {
  fill: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .menu-open-btn {
    display: none;
  }
}

.burger__icon-burger {
  width: 40px;
  height: 40px;
}

.mob-menu-close {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  line-height: 0;
  border: none;
}

.burger__close-icon {
  width: 18px;
  height: 18px;
}

.header__logo-accent {
  color: var(--accent-color);
}

.site-nav__link-current {
  position: relative;
  color: var(--accent-color);
}

.site-nav__link-current::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .site-nav__link-current::after {
    top: 45px;
  }
}

@media screen and (min-width: 1200px) {
  .site-nav__link-current::after {
    top: 77px;
  }
}

.header-studio {
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .header__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 60px;
  }
}

@media screen and (min-width: 768px) {
  .header__container {
    padding-top: 21px;
    padding-bottom: 21px;
    height: 80px;
  }
}

@media screen and (min-width: 1200px) {
  .header__container {
    padding-top: 24px;
    padding-bottom: 25px;
    height: 80px;
  }
}

.header__logo {
  color: var(--primary-text-color);
  font-family: "Raleway";
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .nav-block {
    display: none;
  }
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.contact-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  .contact-nav {
    display: none;
  }
}

@media screen and (min-width: 767px) {
  .contact-nav {
    display: block;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contact-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.site-nav a,
.contact-nav a {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 767px) {
  .site-nav a,
  .contact-nav a {
    padding: 0;
    margin-top: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .site-nav a,
  .contact-nav a {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

@media screen and (min-width: 1200px) {
  .contact-nav__item:not(:last-child) {
    margin-right: 50px;
  }
}

.contact-nav__mail-hdr,
.contact-nav__tel-hdr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757575;
  fill: #757575;
}

.contact-nav__icon-tel,
.contact-nav__icon-mail {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/index-images/bg-mobile.jpg");
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/index-images/bg-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 118px;
  padding-bottom: 118px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 480px;
  height: 400px;
}

@media screen and (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/index-images/bg-mobile@2x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/index-images/bg-mobile@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/index-images/bg-tablet.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/index-images/bg-tablet.jpg");
    max-width: 100%;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/index-images/bg-tablet@2x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/index-images/bg-tablet@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/index-images/bg-desktop.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/index-images/bg-desktop.jpg");
    max-width: 1600px;
    height: 600px;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/index-images/bg-desktop@2x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/index-images/bg-desktop@2x.jpg");
  }
}

.hero-container {
  text-align: center;
}

.hero__btn-text {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin: auto;
  margin-bottom: 30px;
  max-width: 360px;
}

@media screen and (min-width: 320px) {
  .hero__btn-text {
    overflow-wrap: break-word;
  }
}

@media screen and (min-width: 1200px) {
  .hero__btn-text {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__btn {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.87;
  font-weight: 700;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  padding: 10px 32px 10px 32px;
  border-radius: 4px;
  border-color: transparent;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.features h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
  .features h3 {
    text-align: center;
  }
}

.features p {
  color: #757575;
  font-size: 14px;
  line-height: 1.71;
  font-weight: 400;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 768px) {
  .features-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

@media screen and (min-width: 768px) {
  .features-list__item {
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .features-list__item {
    -ms-flex-preferred-size: calc(100% / 4 - 30px);
        flex-basis: calc(100% / 4 - 30px);
  }
}

.features-list__icon-container {
  margin-bottom: 30px;
  padding: 25px 100px 25px 100px;
  background: var(--background-icon-color);
}

.features-list__icon {
  width: 70px;
  height: 70px;
  fill: var(--primary-text-color);
}

@media screen and (max-width: 1199px) {
  .service {
    display: none;
  }
}

.service h2 {
  color: var(--primary-text-color);
  font-size: 36px;
  line-height: 1.17;
  font-weight: 700;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  text-align: center;
}

.service-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: -30px;
  margin-top: -30px;
  position: relative;
}

.service-list__item {
  margin-left: 30px;
  margin-top: 30px;
}

.service-list__item:not(:first-child) {
  margin-left: 30px;
}

.service-list__img-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.service-list__text-block {
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0px;
}

.team {
  background-color: #f5f4fa;
}

.team h2 {
  color: var(--primary-text-color);
  font-size: 36px;
  line-height: 1.17;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}

.team h3 {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.19;
  font-weight: 500;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  text-align: center;
}

.team p {
  color: #757575;
  font-size: 16px;
  line-height: 1.9;
  font-weight: 400;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 16px;
}

.team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

@media screen and (max-width: 767px) {
  .team-list {
    display: block;
  }
}

.team-list__item {
  -ms-flex-preferred-size: calc(100% / 2 - 30px);
      flex-basis: calc(100% / 2 - 30px);
  margin-left: 30px;
  margin-top: 30px;
  background: var(--primary-white-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 1200px) {
  .team-list__item {
    -ms-flex-preferred-size: calc(100% / 4 - 30px);
        flex-basis: calc(100% / 4 - 30px);
  }
}

.team-list__text {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-social-list__item {
  width: 44px;
  height: 44px;
}

.team-social-list__item:not(:last-child) {
  margin-right: 10px;
}

.team-social-list__link-icon {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-list__item-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  fill: var(--icon-color);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-list__item-link:hover, .team-social-list__item-link:focus {
  fill: var(--primary-white-color);
  background-color: var(--accent-color);
}

.clients__header {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 1200px) {
  .clients-list {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.clients-list__item {
  margin: 15px;
}

.clients-list__item-link {
  min-width: 210px;
  min-height: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #afb1b8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  fill: var(--icon-color);
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list__item-link:hover, .clients-list__item-link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
  cursor: pointer;
  border: 1px solid var(--accent-color);
}

.clients-list__item-link:hover .clients-list__icon,
.clients-list__item-link:focus .clients-list__icon {
  fill: #2196f3;
}

@media screen and (min-width: 768px) {
  .clients-list__item-link {
    min-width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-list__item-link {
    min-width: 170px;
  }
}

.clients-list__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: var(--icon-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

footer {
  background-color: #2f303a;
}

footer a {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-container {
  padding: 60px 15px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .footer-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .footer-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media screen and (min-width: 1200px) {
  .footer-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.footer__logo-adress {
  margin-right: 70px;
}

@media screen and (max-width: 767px) {
  .footer__logo-adress {
    margin-right: 0px;
    text-align: center;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .footer__logo-adress {
    width: 30%;
  }
}

.subscribe {
  display: block;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: start;
      align-content: start;
  max-width: 450px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .subscribe {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: start;
        align-content: start;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .subscribe {
    width: 100%;
    margin-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe {
    margin-left: 105px;
    text-align: start;
  }
}

.footer__logo-accent {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .footer-social {
    width: 30%;
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .footer-social {
    margin-bottom: 60px;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer-social {
    margin-bottom: 0;
  }
}

.footer-social__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .footer-social__text {
    margin-top: 5px;
  }
}

.footer-social-links-list__item {
  width: 44px;
  height: 44px;
}

.footer-social-links-list__item:not(:last-child) {
  margin-right: 10px;
}

.footer-social-links-list__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #43444d;
  fill: var(--primary-white-color);
  -webkit-transition: background-color, 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color, 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-links-list__link:hover, .footer-social-links-list__link:focus {
  background-color: var(--accent-color);
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: var(--primary-white-color);
  font-family: "Raleway";
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}

@media screen and (min-width: 767px) {
  .footer__logo {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.adress-list__adress-ftr {
  color: var(--primary-white-color);
  font-size: 14px;
  line-height: 1.71;
  font-weight: 400;
  letter-spacing: 0.03em;
}

.adress-list__mail-ftr,
.adress-list__tel-ftr {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  font-weight: 400;
  letter-spacing: 0.03em;
}

.adress-list__item:not(:last-of-type) {
  margin-bottom: 9px;
}

.subscribe__title {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16.5 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 20px;
}

.subscribe-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 1199px) {
  .subscribe-form {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe-form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.subscribe-form__email-form {
  max-width: 450px;
  height: 50px;
  font-size: 16px;
  line-height: 1.25;
  background-color: inherit;
  color: var(--primary-white-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding: 15px 16px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .subscribe-form__email-form {
    width: 450px;
    margin-right: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe-form__email-form {
    width: 358px;
    margin-right: 15px;
    text-align: start;
  }
}

.subscribe-form__email-form:focus {
  border-color: var(--accent-color);
  outline: none;
}

.subscribe-form__btn {
  color: var(--primary-white-color);
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  padding: 10px 30px 8px 30px;
  border-radius: 4px;
  border: 1px;
  background-color: var(--accent-color);
  cursor: pointer;
}

.subscribe-form__btn-icon {
  height: 24px;
  width: 24px;
  margin-top: 10px;
  margin-left: 10px;
}

.portfolio-container {
  background-color: var(--primary-white-color);
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 50px;
}

.filter > li:not(:last-child) {
  margin-right: 8px;
}

@media screen and (min-width: 768px) {
  .filter {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.filter-btn {
  display: inline-block;
  padding: 6px 22px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 38px;
  border-radius: 4px;
  border-color: var(--primary-white-color);
  background-color: #f5f4fa;
  font-family: "Roboto";
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.62;
  font-weight: 500;
  letter-spacing: 0.03em;
  border-width: 0px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), filter 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  margin-top: 15px;
  margin-left: 8px;
}

.filter-btn:hover, .filter-btn:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

@media screen and (min-width: 768px) {
  .filter-btn {
    margin-top: 0;
    margin-left: 0;
  }
  .filter-btn:not(:last-child) {
    margin-right: 8px;
  }
}

@media screen and (min-width: 480px) {
  .products {
    display: block;
    margin-top: 0;
    margin-left: 0;
  }
}

@media screen and (min-width: 768px) {
  .products {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .products {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
}

.products h2 {
  color: var(--primary-text-color);
  font-size: 18px;
  line-height: 2;
  font-weight: 700;
  letter-spacing: 0.06em;
  text-align: left;
  margin-bottom: 4px;
}

.products p {
  color: #757575;
  font-size: 16px;
  line-height: 1.87;
  font-weight: 400;
  letter-spacing: 0.03em;
  text-align: left;
}

.products .overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  color: white;
  height: 100%;
  line-height: 1.56;
  font-size: 18px;
  padding: 63px 24px;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.products-item {
  min-height: 100%;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .products-item {
    margin-top: 0;
    margin-left: 0;
  }
  .products-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .products-item {
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-top: 30px;
    min-height: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .products-item {
    -ms-flex-preferred-size: calc(100% / 3 - 30px);
        flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
}

.products-item:hover, .products-item:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.products-item-link .products-item-overlay {
  position: relative;
  overflow: hidden;
}

.products-item-link:focus .overlay-text,
.products-item-link:hover .overlay-text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.products-photo-description {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.products-item-link {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
/*# sourceMappingURL=main.css.map */