.features {
  & h3 {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;

    @media screen and (max-width: 767px) {
      text-align: center;
    }
  }
  & p {
    color: #757575;
    font-size: 14px;
    line-height: 1.71;
    font-weight: 400;
    letter-spacing: 0.03em;
  }
}

.features-list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

.features-list__item {
  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 4 - 30px);
  }
}

.features-list__icon-container {
  @extend %align-justify-center;
  margin-bottom: 30px;
  padding: 25px 100px 25px 100px;
  background: var(--background-icon-color);
}

.features-list__icon {
  width: 70px;
  height: 70px;
  fill: var(--primary-text-color);
}
